---
# CSS for Bootstrap-Docs-Style Navbar
---
@charset "utf-8";

ul {
    margin-left: 0px;
}

.group {
    
}
.group .subgroup {
    
}
.fixed {
    position: fixed;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 600;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 35px;
    font-size: 14px;
    font-weight: 400;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #2699D0; //#563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #2699D0; //#563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none; // Change to none           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.affix-bottom {
    position: relative;
    width:100%;
    bottom:0px;
}

// Default query for xs
#sidebar.affix-top, #sidebar.affix {
    position: static;
    width:100%;
}

@media (min-width: 768px) {
  #sidebar.affix-top {
    position: static;
    max-width:185px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:20px;
    max-width:185px;
  }
}

@media (min-width: 992px) {
  #sidebar.affix-top {
    position: static;
    max-width: 250px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:20px;
    max-width: 250px;
  }
}