<div class="btn-group" role="group" aria-label="...">
	<a href="/brov2/" alt="BlueROV2 Documentation">
		<button type="button" class="btn btn-default">BlueROV2 Main</button>
	</a>
	<a href="/brov2/assembly/" alt="BlueROV2 Assembly">
		<button type="button" class="btn btn-default">Kit Assembly</button>
	</a>
	<a href="/brov2/software-setup/" alt="BlueROV2 Software">
		<button type="button" class="btn btn-default">Software Setup</button>
	</a>
	<a href="/brov2/operation/" alt="BlueROV2 Operations">
		<button type="button" class="btn btn-default">Operating Manual</button>
	</a>
</div>
<span class="pull-right">
<div class="btn-group" role="group" aria-label="...">
	<a href="http://bluerobotics.com/downloads/bluerov2.pdf" alt="BlueROV2 Datasheet">
		<button type="button" class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i> Datasheet</button>
	</a>
</div>
<div class="btn-group" role="group" aria-label="...">
	<a href="http://ArduSub.com" alt="ArduSub">
		<button type="button" class="btn btn-default">ArduSub.com</button>
	</a>
</div>
</span>