<div class="btn-group" role="group" aria-label="...">
	<a href="/brov2/" alt="BlueROV2 Documentation" class="btn btn-default">
		BlueROV2 Main
	</a>
	<a href="/brov2/assembly/" alt="BlueROV2 Assembly" class="btn btn-default">
		Kit Assembly
	</a>
	<a href="/brov2/software-setup/" alt="BlueROV2 Software" class="btn btn-default">
		Software Setup
	</a>
	<a href="/brov2/operation/" alt="BlueROV2 Operations" class="btn btn-default">
		Operating Manual
	</a>
</div>
<span class="pull-right">
<div class="btn-group" role="group" aria-label="...">
	<a href="http://bluerobotics.com/downloads/bluerov2.pdf" class="btn btn-default" alt="BlueROV2 Datasheet">
		<i class="fa fa-download" aria-hidden="true"></i> Datasheet
	</a>
</div>
<div class="btn-group" role="group" aria-label="...">
	<a href="http://ArduSub.com" class="btn btn-default" alt="ArduSub">
		ArduSub.com
	</a>
</div>
</span>

<br /><br />

<div class="btn-group" role="group" aria-label="...">
	<a href="/brov2-heavy/" alt="BlueROV2 Heavy Documentation" class="btn btn-secondary btn-sm">
		BlueROV2 Heavy Kit
	</a>
	<a href="/payload-skid/" alt="Payload Skid" class="btn btn-secondary btn-sm">
		Payload Skid
	</a>
	<a href="/fxti/" alt="FXTI" class="btn btn-secondary btn-sm">
		FXTI
	</a>
	<a href="/spool/" alt="Fathom Spool" class="btn btn-secondary btn-sm">
		Fathom Spool
	</a>
</div>
