<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><a href="/brov2/" alt="BlueROV2 Documentation">BlueROV2 Main</a></button>
	<button type="button" class="btn btn-default"><a href="/brov2/assembly/" alt="BlueROV2 Assembly">Kit Assembly</a></button>
	<button type="button" class="btn btn-default"><a href="/brov2/software-setup/" alt="BlueROV2 Software">Software Setup</a></button>
	<button type="button" class="btn btn-default"><a href="/brov2/operation/" alt="BlueROV2 Operations">Operating Manual</a></button>
</div>
<span class="pull-right">
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><a href="http://bluerobotics.com/downloads/bluerov2.pdf" alt="BlueROV2 Datasheet"><i class="fa fa-download" aria-hidden="true"></i> Datasheet</a></button>
</div>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><a href="http://ArduSub.com" alt="ArduSub">ArduSub.com</a></button>
</div>
</span>