<footer class="footer">
<div class="container no-padding">
    <!-- Start hard-coded footer content -->
<div class="row">
        <div class="col-sm-4">
<!-- Begin MailChimp Signup Form -->
  <form action="http://bluerobotics.us8.list-manage.com/subscribe/post?u=627c9584a2fe89f11ef947a69&amp;id=ea8f1f7eac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="col-xs-12">
    <div class="input-group">
      <input type="email" value="" name="EMAIL" class="form-control" style="width:100%" id="mce-EMAIL" placeholder="Email Address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_627c9584a2fe89f11ef947a69_ea8f1f7eac" value=""></div>
      <span class="input-group-btn">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
      </span>
    </div>
    <br />
    <label for="mce-EMAIL" style="font-size:1.0em;color:black;font-weight:normal;margin-bottom:20px"><i class="fa fa-arrow-circle-up fa-lg blue"></i> Sign up for the latest updates!</label>
  </div>
  </form>

  <!--End mc_embed_signup-->

  <br /><br />
</div>
        <div class="col-sm-4 text-center">
          <a href="https://github.com/bluerobotics">
          <span class="fa-stack fa-2x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
          </a>
          <a href="https://twitter.com/bluerobotics">
          <span class="fa-stack fa-2x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          </a>
          <a href="http://www.facebook.com/bluerobotics">
          <span class="fa-stack fa-2x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          </a>
          <a href="mailto:info@bluerobotics.com">
          <span class="fa-stack fa-2x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
          </a>
          <br /><br /><br />
          Copyright &copy; 2014 - <strong>BlueRobotics</strong>
        </div>
        <div class="col-sm-4 text-right">
          <a href="http://www.bluerobotics.com/terms/#returns">Return Policy</a><br />
                    <a href="http://www.bluerobotics.com/terms/#terms">Terms and Conditions</a><br />
          <a href="http://www.bluerobotics.com/terms/#privacy">Privacy Policy</a>
        </div>
      </div>
      <br />
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>