<footer class="footer">
  <div class="container-fluid no-padding">
    <!-- Start hard-coded footer content -->
    <div class="col-md-12" style="border-bottom: solid 2px #ddd;padding-bottom:20px;padding-top:20px;background: #eee;">
      <div class="container no-padding">
        <div class="row">
          <div class="col-md-5">
            <!-- Begin MailChimp Signup Form -->
            <label for="mce-EMAIL" style="font-size:1.0em;color:black;font-weight:normal;margin-bottom:10px;margin-left:20px"><i class="fa fa-arrow-circle-down fa-lg blue"></i> Sign up for the latest updates!</label>
            <form action="http://bluerobotics.us8.list-manage.com/subscribe/post?u=627c9584a2fe89f11ef947a69&amp;id=ea8f1f7eac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="col-xs-9">
                <div class="input-group">
                  <input type="email" value="" name="EMAIL" class="form-control" style="width:100%" id="mce-EMAIL" placeholder="Email Address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_627c9584a2fe89f11ef947a69_ea8f1f7eac" value=""></div>
                  <span class="input-group-btn">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe</button>
                  </span>
                </div>
              </div>
            </form>
            <!--End mc_embed_signup-->
          </div>
          <div class="col-md-7 text-right">
            <a href="https://github.com/bluerobotics" alt="Github">
              <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://twitter.com/bluerobotics" alt="Twitter">
              <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="http://www.facebook.com/bluerobotics" alt="Facebook">
              <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.flickr.com/photos/134735962@N08" alt="Flickr">
              <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
              </span>
            </a>            
            <a href="mailto:info@bluerobotics.com" alt="Email">
              <span class="fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>      
    <div class="container no-padding" style="padding-top:20px;padding-bottom:20px;">
      <br />
      <div class="row">
        <div class="col-sm-3 text-left">
          <img src="//bluerobotics.com/images/br-logo-trans-blue-trans-sm-updated.png" class="img-br-logo">
          <span class="blue toplogo">Blue</span><span class="robotics toplogo">Robotics</span></a>
          <br /><p>Blue Robotics provides high-quality, low-cost components, parts, and supplies for marine robotics.</p>
        </div>
        <div class="col-sm-9">
          <div class="col-sm-3 text-left" style="border-left: 2px solid #ddd">
            <strong>Blue Robotics</strong><br />
            <a href="//bluerobotics.com">Home</a><br />
            <a href="//bluerobotics.com/about/">About Us</a><br />            
            <a href="//bluerobotics.com/blog/">Blog</a><br />
            <a href="//bluerobotics.com/gallery/">Gallery</a><br />           
            <a href="//bluerobotics.com/technology/">Technology</a><br />
            <a href="//bluerobotics.com/software-and-hardware/">Software and Hardware</a><br />                             
          </div>
          <div class="col-sm-3 text-left" style="border-left: 2px solid #ddd">
            <strong>Store</strong><br />  
            <a href="//bluerobotics.com/store">Visit the Store</a><br />
            <a href="//bluerobotics.com/distributors">Distributors</a><br />                        
            <a href="//bluerobotics.com/order-shipping-info/">Ordering & Shipping Info</a><br />
            <a href="//bluerobotics.com/terms/#returns">Return Policy</a><br />
          </div>
          <div class="col-sm-3 text-left" style="border-left: 2px solid #ddd">
            <strong>Support & Community</strong><br />
            <a href="//docs.bluerobotics.com">Documentation</a><br />         
            <a href="//bluerobotics.com/forums">Forums</a><br />                        
            <a href="//docs.bluerobotics.com/videos/">Video Tutorials</a><br />                           
          </div>
          <div class="col-sm-3 text-left" style="border-left: 2px solid #ddd">
            <strong>Contact</strong><br />
            <a href="//bluerobotics.com/contact/">Contact Us</a><br />                      
          </div>                            
        </div>
      </div>
    </div>
    <div class="container-fluid text-center" style="padding-top:20px;padding-bottom:20px;">
      Copyright &copy; 2016 - Blue Robotics Inc.
      &nbsp;&nbsp;|&nbsp;&nbsp;     
      <a href="//bluerobotics.com/contact/">Contact Us</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="//bluerobotics.com/terms/#terms">Terms and Conditions</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="//bluerobotics.com/terms/#privacy">Privacy Policy</a>
      <br />
    </div>
  </div>
</footer>
