<header class="site-header">

  <div class="banner navbar transparent navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="//www.bluerobotics.com/"><img src="http://www.bluerobotics.com/images/br-logo-trans-blue-trans-sm-updated.png" class="img-br-logo logo-rotate">
        <span class="blue toplogo">Blue</span><span class="robotics toplogo">Robotics</span><span class="toplogo-subtitle"></span></a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="//www.bluerobotics.com">Home</a></li>
          <li><a href="//www.bluerobotics.com/store/">Store</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Calculators <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/battery/">Battery Information and Calculator</a></li>
              <li><a href="/calc/pressure-depth/">Pressure/Depth Calculator</a></li>
              <li><a href="/calc/buoyancy/">Buoyancy Calculator</a></li>
              <li><a href="/resources/">Under Pressure Software (Enclosures)</a></li>
            </ul>
          </li>
          <li><a href="//discuss.bluerobotics.com/">Forums</a></li>
          <li><a href="//www.bluerobotics.com/blog/">Blog</a></li>
          <li><a href="/downloads/">Downloads</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></a>
            <ul class="dropdown-menu multi-column columns-2" role="menu" style="margins:10px">
              <li>
                <gcse:searchbox></gcse:searchbox>
              </li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

</header>
