---
liOpen: false
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <div class="col-sm-3">
          <nav id="sidenav" class="bs-docs-sidebar">
              <ul id="sidebar" class="nav nav-stacked bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="130" data-offset-bottom="300">
                <div class="link-heading">Navigation</div>
                  {% for item_hash in page.nav %}
                    {% assign page.liOpen = false %}
                    {% for item in item_hash %}               
                      {% if item[0] != nil %}
                        {% if page.liOpen %}
                          </li> <!-- This is here to close tag only after all subitems have been listed. -->
                          {% assign page.liOpen = false %}
                        {% endif %}
                        <li> 
                        {% assign page.liOpen = true %}
                        <a {% if false %}class="active"{% endif %} href="#{{ item[1] }}">{{ item[0] }}</a>
                      {% endif %}

                      {% if item[0] == nil %}
                        <ul class="nav nav-stacked">
                        {% for subitem in item %}
                          {% if subitem[0] != nil %}
                            <li>
                                <a {% if false %}class="active"{% endif %} href="#{{ subitem[1] }}">{{ subitem[0] }}</a>
                            </li>
                          {% endif %}
                        {% endfor %} 
                        </ul>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

              <br /><br />
              {% if page.store-links != nil %}
              <div class="link-heading"><i class="fa fa-arrow-right fa-fw"></i> Store</div>
              {% for link in page.store-links %}
                <li class="sidebar-link">
                  {% for subitem in link %}
                    <a href="{{ subitem[1] }}">{{ subitem[0] }}</a>
                  {% endfor %}
                </li>
              {% endfor %}
              {% endif %}

              {% if page.manual-links != nil %}
              <div class="link-heading"><i class="fa fa-book fa-fw"></i> Product Manuals</div>
              {% for link in page.manual-links %}
                <li class="sidebar-link">
                  {% for subitem in link %}
                    <a href="{{ subitem[1] }}">{{ subitem[0] }}</a>
                  {% endfor %}
                </li>
              {% endfor %}
              {% endif %}

              {% if page.tutorial-links != nil %}
              <div class="link-heading"><i class="fa fa-university fa-fw"></i> Related Tutorials</div>
              {% for link in page.tutorial-links %}
                <li class="sidebar-link">
                  {% for subitem in link %}
                    <a href="{{ subitem[1] }}">{{ subitem[0] }}</a>
                  {% endfor %}
                </li>
              {% endfor %}
              {% endif %}
              
              <br /><br />
              <li><a href="https://github.com/bluerobotics/bluerobotics.github.io/issues/new"><span class="small"><i class="fa fa-exclamation-circle"></i> Report an Issue or Make a Suggestion</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-9 content">
          <p class="lead">{{ page.title }}</p>
          <hr />
          <br />
          {{ content }}
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <br /><br /><br /><br /><br />
        </div>
      </div>
    </div> 

    {% include footer.html %}

  </body>
  <script>
    // Table Bootstrap Classes
    var tables = document.getElementsByTagName("table");

    for (var i=0, max=tables.length; i < max; i++) {
        tables[i].className += " table table-condensed";
    }
  </script>

</html>
